@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  .main {
    background: #5C9CE5;
    color: #0A0A0B;
    font-family: Inter,sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
  }
  .wrapper {
    background-color: #E3F1FF; 
    border-bottom-left-radius: 6rem;
    border-top-left-radius: 6rem;
    flex: 1;
    overflow: hidden;
  }
  .scroll {
    overflow: auto;
    height: 100vh;
  }
   .scroll::-webkit-scrollbar {
    width: 6px;
    padding-left: 6px;
    background-color: #F5F5F5; 
    border-radius: 25px;
  }

   .scroll::-webkit-scrollbar-thumb {
    background: rgb(167, 202, 237);
    border-radius: 25px;
  }





  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
